        body {
          background-color: white;
        }
        /* input{
          width: 320px; 
        } */
        #reserve{
          font-size: 25px;
          font-weight: 30px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          margin-top: 0px;
          text-align: center;
        }

        #fill{
          font-family: Georgia, 'Times New Roman', Times, serif;
          color: grey;
        }

        .error{
            color : red;
            font-size : 15px;
        }
        .con{
            width: 350px;
            /* border: 2px solid gray; */
            padding: 20px;
            margin-top: 30px;
            margin-left: 500px;
            /* border-radius: 10px; */
            background-color: rgb(111, 110, 110);
        }

        .dro{
          width: 50px;
          margin-left: 20px;
          margin-top: 10px;
          /* border-radius: 5px; */
        }

        .full{
          width: 150px;
          margin-left: 20px;
          margin-top: 0px;
        }

        #fill{
          border: 0px;
          width: 250px;
          height: 22px;
          /* border-radius: 5px; */
        }

        #adultandchildren{
          border: 0px;
          margin-bottom: 10px;
          width: 250px;
          height: 22px;
          /* border-radius: 5px; */
        }

        .room{
          margin-top: 5px;
          margin-left: 40px;
          margin-bottom: 15px;
        }

        #room{
          width: 100px;
        }

        .date{
          margin-left: 40px;
        }

        #dat{
          width: 110px;
          margin-top: 15px;
          margin-left: 7px;
        }

        #date{
          width: 110px;
          margin-top: 10px;
          margin-bottom: 5px;
        }
         
        #id{
          color: black;
        }

        .butt{
          background-color: darkgray;
          margin-left: 15%;
          margin-top: 20px;
          margin-bottom: 20px;
          width: 200px;
          height: 30px;
          border: 0px;
          /* border-radius: 15px; */
        }

        #butt{
          font-family: Georgia, 'Times New Roman', Times, serif;
        }

        /* .footer{
          float: left;
        }
        .footer-container {
          width: 300px;
          height: 200px;
          border: 2px solid darkgray;
          padding: 30px;
          margin: 20px;
          margin-top: 20px;
          padding-top: 0px;
        } */